<h2>Shopping Cart</h2>
<% if cart.contents.empty? %>
 <p>Your Cart is Empty</p>
<% else %>
<h3>Total: <%= number_to_currency(cart.grand_total) %></h3>
<% cart.actual_items.each do |item| %>
<section id = 'item-<%=item.id%>'>
     <h2><%= link_to item.name, "/items/#{item.id}" %></h2>
     <img src= <%= item.image %>>
     <p>Price: <%= number_to_currency(item.price) %></p>
     <p>Quantity: <%= cart.count_of(item.id) %></p>
     <p>Subtotal: <%= number_to_currency(cart.subtotal(item.id)) %></p>
     <p>Sold by: <%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %>, Inventory: <%= item.inventory %></p>
      <%= button_to "Remove from Cart", "/cart/#{item.id}", method: :delete %>
   </section>
 <% end %>
 <%= button_to 'Empty Cart', '/cart', method: :delete %>
<% end %>
