<center>
<h1>New Order</h1>

<% cart.actual_items.each do |item| %>
<section id = 'item-<%=item.id%>'>
  <p>Item: <%= link_to item.name, "/items/#{item.id}" %></p>
  <p>Sold by: <%= link_to "#{item.merchant.name}", "/merchants/#{item.merchant.id}" %></p>
  <p>Price: <%= number_to_currency(item.price) %></p>
  <p>Quantity: <%= cart.count_of(item.id) %></p>
  <p>Subtotal: <%= number_to_currency(cart.subtotal(item.id)) %></p>
  <hr>
<% end %>
<h4>Grand Total: <%= number_to_currency(cart.grand_total) %></h4>

<section id="shipping">
  <h3>Shipping Information</h3>
  <%= form_tag "/orders", method: :post do %>
    <%= label_tag :username %>:<br>
    <%= text_field_tag :username %><br>

    <%= label_tag :address %>:<br>
    <%= text_field_tag :address %><br>

    <%= label_tag :city %>:<br>
    <%= text_field_tag :city %><br>

    <%= label_tag :state %>:<br>
    <%= text_field_tag :state %><br>

    <%= label_tag :zipcode %>:<br>
    <%= number_field_tag :zipcode %><br>

    <%= submit_tag "Create Order" %>
  <% end %>
</center>
