<center>
<h1>New Order</h1>

<section id="shipping">
  <h3>Shipping Information</h3>
  <%= form_tag '/orders' do %>
    <%= label_tag :username %>:<br>
    <%= text_field_tag :username %><br>

    <%= label_tag :address %>:<br>
    <%= text_field_tag :address %><br>

    <%= label_tag :city %>:<br>
    <%= text_field_tag :city %><br>

    <%= label_tag :state %>:<br>
    <%= text_field_tag :state %><br>

    <%= label_tag :zipcode %>:<br>
    <%= number_field_tag :zipcode %><br>

    <%= submit_tag "Create Order" %>
  <% end %>

<% @items.each do |item, quantity| %>
  <p>Item: <%= link_to item.name, "/items/#{item.id}" %></p>
  <p>Merchant: <%= link_to "#{item.merchant.name}", "/merchants/#{item.merchant.id}" %></p>
  <p>Cost: <%= number_to_currency(item.price) %></p>
  <p>Quantity: <%= quantity %></p>
  <p>Subtotal: <%= number_to_currency(item.price * quantity) %></p>
<% end %>
<h4>Grand Total: <%= number_to_currency(cart.grand_total) %></h4>
</center>
