<h1 align= "center">Create Merchant</h1>
<center>
  <%= form_tag '/merchants', method: :post do |f| %>
  <%= label_tag :name %>
    <%= text_field_tag :name, nil, placeholder: "Name" %>

    <%= label_tag :address %>
    <%= text_field_tag :address, "Address" %>

    <%= label_tag :city %>
    <%= text_field_tag :city, "City" %>

    <%= label_tag :state %>
    <%= text_field_tag :state, "State" %>

    <%= label_tag :zip %>
    <%= text_field_tag :zip, "Zip" %>

    <%= submit_tag 'Create Merchant' %>
  <% end %>
</center>
