<% @items.each do |item| %>
  <section id= 'item-<%=item.id%>'>
    <h2> <%=link_to item.name, "/items/#{item.id}" %> </h2>
    <img src= <%= item.image %>>
    <p> <%= item.description unless @merchant%> </p>
    <p>Price: $<%= item.price %> </p>
    <p>Inventory: <%= item.inventory %> </p>
    <% if !@merchant %>
      <p>Sold by: <%=link_to item.merchant.name, "/merchants/#{item.merchant.id}" %></p>
    <% end %>
    <% if item.active? %>
      <p>Active</p>
    <% else %>
      <p>Inactive</p>
    <% end %>
  </section>
<% end %>

<%= link_to "Add New Item", "/merchants/#{@merchant.id}/items/new" if @merchant%>
