<h1><%= @item.name %></h1>
<p align="center">Sold by: <%=link_to @item.merchant.name, "/merchants/#{@item.merchant.id}" %> </p>
<center>
  <section class = "item-show-grid">
    <section class = "item-show-item">
      <img src= <%= @item.image %>>
    </section>
    <section style="text-align:left" class = "item-show-item">
      <p><%= @item.description %></p>
      <p>Price: $<%= @item.price %> </p>
      <p>Inventory: <%= @item.inventory %> </p>
      <% if @item.active? %>
        <p style= "color:green">Active</p>
      <% else %>
        <p style= "color:red">Inactive</p>
      <% end %>
      <p><%= link_to "Edit Item", "/items/#{@item.id}/edit" %></p>
      <p><%= link_to "Delete Item", "/items/#{@item.id}", method: :delete %></p>
      <p><%= link_to 'Update Item', "/items/#{@item.id}/edit" %></p>

    </section>
  </section>

      <hr>

      <h4>Reviews</h4>
    <% @item.reviews.each do |review| %>
        <p>Title: <%= review.title %></p>
        <p>Description: <%= review.content %></p>
        <p>Rating: <%= review.rating %></p>
        <%= link_to "Edit Review", "/reviews/#{review.id}/edit" %>
        <%= link_to 'Delete Review', "/reviews/#{review.id}", method: :delete %>
    <% end %>

      <h1><%= link_to 'Add Review', "/items/#{@item.id}/review", method: :get %><h1>


</center>
